<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Создание пожелания</title>

    <link href="/css/createWishPage.css"
          rel="stylesheet">
</head>

<header>

    <p>Event scope</p>

    <div class="header-links">

        <a href="/event">
            К мероприятиям
        </a>

        <a href="/wish">
            К пожеланиям
        </a>

        <a href="/userProfile">
            Личный кабинет
        </a>

    </div>

</header>

<body>

<div class="create-container">

    <form method="post"
          th:action="@{/wish/create}"
          th:object="${wish}">

        <h1>
            Опишите мероприятие, на которое вы хотели бы попасть
        </h1>

        <!-- ===== Название ===== -->
        <div class="input-block">

            <label>
                Название
            </label>

            <input placeholder="Введите примерное название мероприятия"
                   th:field="*{title}"
                   type="text">

            <p class="validation-error"
               th:errors="*{title}"
               th:if="${#fields.hasErrors('title')}">
            </p>

        </div>

        <!-- ===== Описание ===== -->
        <div class="input-block">

            <label>
                Описание
            </label>

            <textarea placeholder="Опишите мероприятие, которое хотели бы посетить"
                      th:field="*{description}"></textarea>

            <p class="validation-error"
               th:errors="*{description}"
               th:if="${#fields.hasErrors('description')}">
            </p>

        </div>

        <!-- ===== Теги ===== -->
        <div class="tags-section">

            <p class="tags-title">
                Теги
            </p>

            <div class="tags-container">

                <label class="tag-item"
                       th:each="tag : ${tags}">

                    <input name="tagIds"
                           th:value="${tag.id}"
                           type="checkbox">

                    <span th:text="${tag.name}">
                    </span>

                </label>

            </div>

        </div>

        <!-- ===== Кнопка ===== -->
        <button class="submit-btn"
                type="submit">

            Опубликовать

        </button>

    </form>

</div>

</body>
</html>