<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пожелания пользователей</title>
    <link rel="stylesheet" href="/css/wishesPage.css">
</head>

<header>
    <p>Event scope</p>

    <div class="header-links">

        <a th:if="${isAuth}" href="/wish/create">
            Добавить пожелание
        </a>

        <a href="/event">К мероприятиям</a>

        <a th:if="${isAuth}" href="/userProfile" th:text="${username}">
            Личный кабинет
        </a>

        <a th:if="${!isAuth}" href="/login">
            Вход
        </a>
    </div>
</header>

<body>

<div class="filters">

    <form method="get" action="/wish">

        <!-- ===== Дата ===== -->
        <div class="filter-block">

            <label class="filter-label">Дата создания</label>

            <input type="date"
                   class="date-input"
                   name="createdDate"
                   th:value="${selectedDate}">

        </div>

        <!-- ===== Теги ===== -->
        <div class="filter-block">

            <p class="filter-label">Теги</p>

            <div class="tags-filter">

                <label class="tag-filter-item"
                       th:each="tag : ${tags}">

                    <input type="checkbox"
                           name="tagIds"
                           th:value="${tag.id}"
                           th:checked="${selectedTags != null && selectedTags.contains(tag.id)}">

                    <span th:text="${tag.name}"></span>

                </label>

            </div>

        </div>

        <!-- ===== Кнопка ===== -->
        <button type="submit">
            Применить
        </button>

    </form>
</div>

<div id="wishItems">

    <div class="wishItem" th:each="wish : ${wishes}">

        <p class="wishTitle"
           th:text="${wish.title}">
        </p>

        <p class="wishDescription"
           th:text="${wish.description}">
        </p>

        <div class="wishDate">

            <p>Создано:</p>

            <p th:text="${#temporals.format(wish.createdAt, 'dd.MM.yyyy HH:mm')}">
            </p>
        </div>

        <div class="wishAuthor">

            <p>Пользователь:</p>

            <p th:text="${wish.user.username}">
            </p>
        </div>

        <div class="wishTags">

                <span class="tag"
                      th:each="tag : ${wish.tags}"
                      th:text="${tag.name}">
                </span>

        </div>

    </div>

</div>

</body>
</html>